# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env
.env.* 

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Cache
.cache/
.nest/

# Test coverage
coverage/

# VSCode settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Prisma
prisma/.env
prisma/migrations/